<div class="row inline-flex justify-content-around card-style">
  <div class="card col-sm-4 col-lg-5 mb-3 mb-sm-0 mx-2">
    <h2 class="card-header">Login</h2>
    <form class="card-body login-form">
      <div class="mb-3">
        <label class="form-label" for="email-login">Email:</label>
        <input class="form-control" type="email" id="email-login" placeholder="name@example.com"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button class="button-color btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="card col-sm-4 col-lg-5 mb-3 mb-sm-0 mx-2" >
    <h2 class="card-header">Signup</h2>
    <form class="card-body signup-form" >
      <div class="mb-3">
        <label class="form-label" for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="email-signup" >Email:</label>
        <input class="form-control" type="email" id="email-signup" placeholder="name@example.com"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button class="button-color btn" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>