{{#each cosplays as |cosplay|}}
  <section class="card">
  <a href="/cosplay/{{id}}">
    <header>{{cosplay.name}}</header>
    <p>{{cosplay.username}}</p>
    <p>{{cosplay.description}}</p>
  </a>
</section>
{{/each}}
