<div>
  <h2>Now Viewing Cosplays by {{username}}</h2>
</div>
<div class="container content-justify-center">
{{#each cosplays as |cos|}}
  <section class="card card-style col-6 mb-3">
    <h3>{{cos.name}}</h3>
    <p>{{cos.description}}</p>
</section>
{{/each}}
</div>